#navbar {
    align-items: center;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#navbar h2 a {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
   border-radius: 4px;
   border: none;
   padding: 0.2rem 0.8rem;

}

#navbar form button {
    align-items: center;
    background-color: burlywood;
    border-radius: 4px;
    border: 2px solid burlywood;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    padding: 0.3rem;
    transition: 0.4s;

}

#navbar form button:hover {
    background-color: transparent;
    color: burlywood;
}

